GOOGLE_MAPS_API_KEY=your_google_maps_api_key

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

VOICEMONKEY_TOKEN=your_voicemonkey_token
VOICEMONKEY_DEVICE_ID=your_voicemonkey_device_id
ALEXA_VOLUME_LEVEL=6
